{% extends "base.html" %}
{% block content %}
    <h1>Add Expense</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.category.label }}
            {{ form.category(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.amount.label }}
            {{ form.amount(class="form-control") }}
        </div>
        <div class="form-check">
            {{ form.is_recurring.label }}
            {{ form.is_recurring(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.recurring_frequency.label }}
            {{ form.recurring_frequency(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>
{% endblock %}
