{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to Budget Buddy!</h1>

    <h2>Actions</h2>
    <p class="command"><a href="{{ url_for('add_expense') }}">Add Expense</a></p>
    <p class="command"><a href="{{ url_for('view_expenses') }}">View Expenses</a></p>
    <p class="command"><a href="{{ url_for('set_budget') }}">Set Budget</a></p>
    <p class="command"><a href="{{ url_for('view_budget') }}">View Budget</a></p>
    <p class="command"><a href="{{ url_for('logout') }}">Logout</a></p>

    <h2>Analytics and Reports</h2>
    <p class="command"><a href="{{ url_for('view_spending_trends') }}">View Spending Trends</a></p>

    <h2>Your Budgets</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Budget Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for category in PREDEFINED_CATEGORIES['expense'] %}
                {% set budget = current_user.get_budget_for_category(category) %}
                <tr>
                    <td>{{ category }}</td>
                    <td>{{ budget.amount if budget else "No budget set" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Spending Trends</h2>
    <ul>
        {% for message in trend_messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
