{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to Budget Buddy!</h1>

    <!-- Display unread notification count -->
    {% if unread_notification_count > 0 %}
        <p>You have {{ unread_notification_count }} unread notifications. <a href="{{ url_for('view_notifications') }}">View them here</a>.</p>
    {% endif %}

    <h2>Actions</h2>
    <ul>
        <li><a href="{{ url_for('profile') }}">View Profile</a></li>
        <li><a href="{{ url_for('edit_profile_details') }}">Edit Profile Details</a></li>
        <li><a href="{{ url_for('change_password') }}">Change Password</a></li>
        <li><a href="{{ url_for('add_expense') }}">Add Expense</a></li>
        <li><a href="{{ url_for('view_expenses') }}">View Expenses</a></li>
        <li><a href="{{ url_for('add_category_budget') }}">Add Category Budget</a></li>
        <li><a href="{{ url_for('view_category_budgets') }}">View Category Budgets</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>

    <h2>Analytics and Reports</h2>
    <ul>
        <li><a href="{{ url_for('monthly_spending_report') }}">View Monthly Spending by Category</a></li>
        <li><a href="{{ url_for('yearly_spending_report') }}">View Yearly Spending by Category</a></li>
        <li><a href="{{ url_for('spending_over_time_report') }}">View Spending Over Time</a></li>
        <li><a href="{{ url_for('monthly_spending_trends') }}">View Monthly Spending Trends</a></li>
        <li><a href="{{ url_for('yearly_spending_trends') }}">View Yearly Spending Trends</a></li>
        <li><a href="{{ url_for('export_report') }}">Export Expenses Report</a></li>
    </ul>
    <h3>Spending Trends</h3>
    <ul>
        {% for message in trend_messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
