{% extends 'base.html' %}

{% block content %}
<h2>Set Budget</h2>

<!-- Main Budget Form -->
<form action="{{ url_for('set_budget') }}" method="post">
    {{ main_budget_form.hidden_tag() }}
    <div>
        {{ main_budget_form.main_budget.label }}: {{ main_budget_form.main_budget() }}
    </div>
    <div>
        <a href="{{ url_for('set_budget') }}" onclick="this.parentNode.submit();">Set Main Budget</a>
    </div>
</form>

<hr>

<!-- Category Budget Form -->
<form action="{{ url_for('set_budget') }}" method="post">
    {{ category_budget_form.hidden_tag() }}
    {% for category in PREDEFINED_CATEGORIES['expense'] %}
    <div>
        {{ category_budget_form[category|to_snake_case].label }}: {{ category_budget_form[category|to_snake_case]() }}
    </div>
    {% endfor %}
    <div>
        <a href="{{ url_for('set_budget') }}" onclick="this.parentNode.submit();">Set Category Budgets</a>
    </div>
</form>
{% endblock %}
