{% extends 'base.html' %}

{% block content %}
<h2>Set Budget</h2>

<!-- Main Budget Form -->
<form action="{{ url_for('set_budget') }}" method="post">
    {{ main_budget_form.hidden_tag() }}
    <div>
        {{ main_budget_form.main_budget.label }}: {{ main_budget_form.main_budget() }}
    </div>
    <input type="submit" value="Set Main Budget">
</form>

<hr>

<!-- Category Budget Form -->
<form action="{{ url_for('set_budget') }}" method="post">
    {{ category_budget_form.hidden_tag() }}
    {% for category, field in category_budget_form.budgets.items() %}
    <div>
        {{ field.label }}: {{ field() }}
    </div>
    {% endfor %}
    <input type="submit" value="Set Category Budgets">
</form>
{% endblock %}
