{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Spending Anomalies</h1>

    <!-- Canvas element where the chart will be rendered -->
    <canvas id="spendingAnomaliesChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Including the Chart.js library -->

    <script>
        var ctx = document.getElementById('spendingAnomaliesChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ anomalies.keys() | tojson }},
                datasets: [{
                    label: 'Current Month Spending',
                    data: {{ anomalies.values() | tojson }},
                    backgroundColor: 'rgba(75, 192, 192, 1)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>
{% endblock %}
